@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  max-width: 600px;
  min-width: 300px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  min-width: 100px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.footer{
  background-color: rgb(213, 213, 213);
}

ul {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: gray;
}

.content {
  text-align: center;
}

.input {
  display: flex;
  justify-content: center;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.buttons {
  margin-top: 10px;
}

button {
  padding: 10px;
}